Cocoa/
lib/
Miscellaneous/
dg/
planar/
probe/
grids/
tri_hp_dg/
grids3d/
rbd/
include/
ucl/
build/
html/
Results*/
Baseline*/
Testing/spectral_hp.oldbc/
Testing/tri_hp_dg/
bin/
ShowMesh/
*.a
*.o
xcuserdata/
*.xccheckout
*.bak
*.xcworkspacedata
IDEWorkspaceChecks.plist
