lib/
include/
html/
Results*/
Baseline*/
*.a
*.o
xcuserdata/
*.xccheckout
*.bak
*.xcworkspacedata
bin/tri_hp*
bin/tet_hp*
bin/tri_mesh*
bin/tet_mesh*
bin/spline
bin/show*
_*
IDEWorkspaceChecks.plist
build/
xcschemes/

input_map/.DS_Store

quadtree/.DS_Store

spline\+\+/.DS_Store

Testing/tri_hp/conv-diff/PolarLogMapped/.DS_Store

Testing/tri_mesh/partition/.DS_Store

tri_mesh/.DS_Store

utilities/.DS_Store

symbolic_function/.DS_Store
