lib/
include/
html/
Results*/
Baseline*/
*.a
*.o
xcuserdata/
*.xccheckout
*.bak
*.xcworkspacedata
bin/tri_hp*
bin/tet_hp*
bin/tri_mesh*
bin/tet_mesh*
bin/spline
bin/show*
_*
IDEWorkspaceChecks.plist
build/
xcschemes/
