<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedWhiteColorSpace</string>
							<key>White</key>
							<real>1</real>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>BackgroundScale</key>
				<integer>1</integer>
				<key>BottomLabels</key>
				<integer>0</integer>
				<key>DrawBox</key>
				<string>On</string>
				<key>DrawGrid</key>
				<string>On</string>
				<key>DrawInside</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedWhiteColorSpace</string>
							<key>White</key>
							<real>1</real>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Font</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>Name</key>
						<string>Helvetica</string>
						<key>Size</key>
						<string>12</string>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>GridLineStyle</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>LineType</key>
						<integer>1</integer>
						<key>LineWidth</key>
						<string>0.5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>InsideScale</key>
				<integer>1</integer>
				<key>LeftLabels</key>
				<integer>0</integer>
				<key>LineStyle</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>LineWidth</key>
						<string>0.5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>MinorTicks</key>
				<string>On</string>
				<key>OverwriteXTicks</key>
				<string>Off</string>
				<key>OverwriteYTicks</key>
				<string>Off</string>
				<key>RightLabels</key>
				<integer>2</integer>
				<key>TickLengthMenu</key>
				<integer>1</integer>
				<key>TickLengthSpecified</key>
				<string>8</string>
				<key>TicksInside</key>
				<string>Off</string>
				<key>Title</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>TitleFont</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>Name</key>
						<string>Helvetica</string>
						<key>Size</key>
						<string>12</string>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>XLabel</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>XLinOrLog</key>
				<integer>1</integer>
				<key>XTicks</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>YLabel</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>YLinOrLog</key>
				<integer>1</integer>
				<key>YTicks</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>L2 u</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>3</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>L2 u</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Linf u</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>3</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>Linf u</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>L2 v</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>4</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>L2 v</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Linf v</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>4</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>Linf v</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>L2 p</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>L2 p</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Linf p</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>Linf p</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>L2 u fit for Range</string>
					<key>CommandType</key>
					<string>Function</string>
					<key>Computation</key>
					<dict>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.03206384927</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642578599999999</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>Function</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Function</key>
								<string>1+x</string>
							</dict>
							<key>Selected</key>
							<string>L2 u fit for Range</string>
						</dict>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>L2 v fit for Range</string>
					<key>CommandType</key>
					<string>Function</string>
					<key>Computation</key>
					<dict>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.03206384927</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642578599999999</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>Function</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Function</key>
								<string>1+x</string>
							</dict>
							<key>Selected</key>
							<string>L2 v fit for Range</string>
						</dict>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>L2 p fit for Range</string>
					<key>CommandType</key>
					<string>Function</string>
					<key>Computation</key>
					<dict>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.03206384927</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642578599999999</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>Function</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Function</key>
								<string>1+x</string>
							</dict>
							<key>Selected</key>
							<string>L2 p fit for Range</string>
						</dict>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>x-axis</string>
					<key>CommandType</key>
					<string>Title</string>
					<key>Computation</key>
					<dict>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>3</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Offset</key>
						<string>0,0</string>
						<key>Position</key>
						<integer>4</integer>
						<key>String</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>resolution</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>y-axis</string>
					<key>CommandType</key>
					<string>Title</string>
					<key>Computation</key>
					<dict>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>3</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Offset</key>
						<string>0,0</string>
						<key>Position</key>
						<integer>5</integer>
						<key>String</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>error</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Fit Region</string>
					<key>CommandType</key>
					<string>Range</string>
					<key>Computation</key>
					<dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.25</real>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.58431375029999999</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Filled</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Lines</key>
						<string>On</string>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>0,1</string>
							</dict>
							<key>Selected</key>
							<string>Fit Region</string>
						</dict>
						<key>Type</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DomainRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string></string>
						<key>Min</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>0</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
						<string>23.2,57.2</string>
						<string>27.1,47.3</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingHeight</key>
			<real>334</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>1DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{549, 334}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ValueRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string></string>
						<key>Min</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>0</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
						<string>0.000536,0.00903</string>
						<string>0.00323,0.00422</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ViewSizeJoined</key>
			<string>549,334</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Versus Grid Resolution</string>
			<key>WindowPos</key>
			<array>
				<real>1033</real>
				<real>365</real>
				<real>547</real>
				<real>648</real>
			</array>
		</dict>
	</array>
	<key>MonitorVariables</key>
	<array>
		<string>L2 u fit for Range</string>
		<string>L2 v fit for Range</string>
		<string>L2 p fit for Range</string>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>5</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>234</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Base</key>
				<string>Baseline</string>
				<key>DT</key>
				<string>1</string>
				<key>Ending</key>
				<string>cnvg*</string>
				<key>ReturnFolder</key>
				<string>Off</string>
				<key>SubFolders</key>
				<string>Off</string>
			</dict>
			<key>Selection</key>
			<string>Folder Content</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>File Name</string>
			<key>VariableType</key>
			<string>FileName</string>
			<key>ViewHeight</key>
			<real>268</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string></string>
					</dict>
					<key>Selected</key>
					<string>File Name</string>
				</dict>
				<key>Header</key>
				<string>0</string>
				<key>RunConversion</key>
				<string>Off</string>
				<key>Script</key>
				<string>Conversion-1</string>
				<key>Tail</key>
				<string>0</string>
				<key>ViewSize</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From File</string>
			<key>VariableName</key>
			<string>Array</string>
			<key>VariableType</key>
			<string>Array</string>
			<key>ViewHeight</key>
			<real>216</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>6,length/6</string>
				<key>Numbers</key>
				<dict>
					<key>Selected</key>
					<string>Array</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Reshape</string>
			<key>VariableName</key>
			<string>Reshape Array</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array</string>
				</dict>
				<key>Expressions</key>
				<array>
					<string>1./2^(n-1)</string>
					<string>v1</string>
					<string>v2</string>
					<string>v3</string>
					<string>v4</string>
					<string>v5</string>
					<string>v6</string>
					<string></string>
				</array>
				<key>RowOrColumn</key>
				<integer>0</integer>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Map Rows or Columns</string>
			<key>VariableName</key>
			<string>Reshape Array mapped</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array mapped</string>
				</dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>2</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Array Rows</string>
			<key>VariableName</key>
			<string>L2 u</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array mapped</string>
				</dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>3</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Array Rows</string>
			<key>VariableName</key>
			<string>Linf u</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array mapped</string>
				</dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>4</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Array Rows</string>
			<key>VariableName</key>
			<string>L2 v</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array mapped</string>
				</dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Array Rows</string>
			<key>VariableName</key>
			<string>Linf v</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array mapped</string>
				</dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>6</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Array Rows</string>
			<key>VariableName</key>
			<string>L2 p</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Reshape Array mapped</string>
				</dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>7</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Array Rows</string>
			<key>VariableName</key>
			<string>Linf p</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Interactive</key>
				<integer>0</integer>
				<key>Range</key>
				<string>0.02873,0.1138</string>
				<key>Restrict</key>
				<string>-∞,∞</string>
			</dict>
			<key>Selection</key>
			<string>Interactive</string>
			<key>VariableName</key>
			<string>Fit Region</string>
			<key>VariableType</key>
			<string>Range</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Plot</key>
				<dict>
					<key>Selected</key>
					<string>L2 u</string>
				</dict>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>0,1</string>
					</dict>
					<key>Selected</key>
					<string>Fit Region</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Region</string>
			<key>VariableName</key>
			<string>L2 u Fit</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Plot</key>
				<dict>
					<key>Selected</key>
					<string>L2 v</string>
				</dict>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>0,1</string>
					</dict>
					<key>Selected</key>
					<string>Fit Region</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Region</string>
			<key>VariableName</key>
			<string>L2 v Fit</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Plot</key>
				<dict>
					<key>Selected</key>
					<string>L2 p</string>
				</dict>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>0,1</string>
					</dict>
					<key>Selected</key>
					<string>Fit Region</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Region</string>
			<key>VariableName</key>
			<string>L2 p Fit</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Center</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Plot</key>
				<dict>
					<key>Selected</key>
					<string>L2 u Fit</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Power Fit</string>
			<key>VariableName</key>
			<string>L2 u fit for Range</string>
			<key>VariableType</key>
			<string>Function1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Center</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Plot</key>
				<dict>
					<key>Selected</key>
					<string>L2 v Fit</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Power Fit</string>
			<key>VariableName</key>
			<string>L2 v fit for Range</string>
			<key>VariableType</key>
			<string>Function1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Center</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Plot</key>
				<dict>
					<key>Selected</key>
					<string>L2 p Fit</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Power Fit</string>
			<key>VariableName</key>
			<string>L2 p fit for Range</string>
			<key>VariableType</key>
			<string>Function1D</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>54</real>
		<real>345</real>
		<real>941</real>
		<real>682</real>
	</array>
</dict>
</plist>
